@import "header.css";
@import "article.css";
@import "footer.css";

body {
  background-color: #303030;
  font-family: 'Open Sans', sans-serif;
  color:  #303030;
}

.container {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: 60px auto auto 60px;
  grid-template-areas:
    "hd hd hd hd hd hd hd hd"
    "main main main main main main main main"
    "sd sd sd sd sd sd sd sd"
    "ft ft ft ft ft ft ft ft";
    height: 100vh;
}

.content {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  grid-template-areas: 
  "mp"
  "rp"
  ;
}

.header {
  grid-area: hd;
  display: flex;
  align-items: center;
  padding: 10px;
}

.main-title {
  margin-top: 0;
  color: #303030;
}

.by-line {
  margin-top: -10px;
  margin-bottom:5;
  font-size: 0.8em;
}

.older .by-line {
  color: #dddddd;
}

.recent-post-title {
  margin-top: 0;
  color: #303030;
}

.older-post-title {
  margin-top: 0;
  font-size: 0.95em;
  color: #DDDDDD;
}

.summary {
  font-size: 0.9em;
}

.post-date {
  display:flex;
  margin-top: auto;
  font-size: 0.75em;
  color: #DDDDDD;
}

.content .post-date {
  color: #303030;
}

.main-post {
  display: flex;
  flex-direction: column;
  grid-area: mp;
  height: fit-content;
  background-color: #dddddd;
  border-radius: 4px;
}

.post-wrap {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.main-post .summary {
  display: flex;
  flex-direction: column;
  width: auto;
}

.post-image {
  width: 100%;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.fig-wrap {
  margin: 10px 0 10px 0;
}

.fig-caption {
  padding: 2px 0 10px 10px;
  color: gray;
  font-size: 0.8em;
}

.recent {
  grid-area: rp;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
}
.recent-content {
  display: flex;
  gap: 10px;
}
.recent-content div img {
  width: 100%;
  margin-top: 15px;
}

.recent-post {
  display: flex;
  flex-direction: column;
  background-color: #dddddd;
  border-radius: 4px;
  width: 100%;
  height: fit-content;
}

.older-post {
  display: flex;
  flex-direction: column;
  border: 1px solid rgba(255, 255, 255, 0.20);
  border-radius: 4px;
  height: fit-content;
  padding: 10px;
  background-size: cover;
  background-position: bottom 0% right 100%;
}

.older {
  display: flex;
  flex-direction: column;
  gap: 10px;
  grid-area: sd;
}
.content {
  grid-area: main;
}

.footer img {
  width: 25px;
  padding: 0 5px 0 5px;
}

.card-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: rgba(48, 48, 48, 0.10);
  margin: auto -20px -20px -20px;
  padding: 10px 10px 5px 10px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.older-card-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.05);
  margin: auto -10px -10px -10px;
  padding: 5px 10px 5px 10px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.read-btn {
  background: none;
  border-left: 1px solid #DDDDDD;
  border-top: none;
  border-right: none;
  border-bottom: none;
  color: #DDDDDD;
  font-size: 0.75em;
  padding: 0 10px 0 5px;
  text-decoration: none;
}

.content .read-btn {
  border-left: 1px solid #303030;
  color: #303030;
}

.read-btn:hover {
  font-size: 0.8em;
  padding: 5px 10px 5px 10px;
  border-left: 2px solid #DDDDDD;
  font-weight: 600;
  cursor: pointer;
}

.content .read-btn:hover {
  font-size: 0.8em;
  padding: 5px 10px 5px 10px;
  border-left: 2px solid #303030;
  font-weight: 600;
}


@media (min-width: 600px) {
    .container {
        display: grid;
        grid-gap: 10px;
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: 60px auto 60px;
        grid-template-areas:
          "hd hd hd hd hd hd hd hd"
          "main main main main main main sd sd "
          "ft ft ft ft ft ft ft ft";
          max-width: 1000px;
          margin-left: auto;
          margin-right: auto;
    }
    .content {
      display: grid;
      grid-gap: 10px;
      grid-template-columns: 1fr;
      grid-template-rows: auto auto;
      grid-template-areas: 
      "mp"
      "rp";
    }
    .recent {
      grid-area: rp;
      display: flex;
      gap: 10px;
      flex-wrap: nowrap;
      flex-direction: row;
    }